In [1]:
import pandas as pd
import scipy.stats as sc

## Задача 1. Отличия до эксперимента
  
Возьмите те же группы, что и в эксперименте с изменением дизайна сайта, и проверьте значимость отличий средней выручки с пользователя на неделе перед экспериментом (c 2022.03.16 по 2022.03.23).

В качестве ответа введите p-value, округлённое до 3-го знака после точки.

In [2]:
groups = pd.read_csv('experiment_users.csv')

In [3]:
sales = pd.read_csv('2022-04-01T12_df_sales.csv')

In [4]:
sales['date'] = pd.to_datetime(sales['date'])

In [5]:
new_sales = sales[(sales['date'] >= '2022-03-16') & (sales['date'] < '2022-03-23')]

In [6]:
df = pd.merge(groups, new_sales, on='user_id', how='left').fillna(0)

In [7]:
df

,user_id,pilot,sale_id,date,count_pizza,count_drink,price
0,0ffc65,0,0.0,0,0.0,0.0,0.0
1,b962b9,0,0.0,0,0.0,0.0,0.0
2,7ea63f,0,0.0,0,0.0,0.0,0.0
3,7f9a61,0,0.0,0,0.0,0.0,0.0
4,459e55,0,1170172.0,2022-03-22 18:12:12,3.0,1.0,2160.0
...,...,...,...,...,...,...,...
23389,b10ce5,1,0.0,0,0.0,0.0,0.0
23390,c5486d,1,0.0,0,0.0,0.0,0.0
23391,53bf9f,1,0.0,0,0.0,0.0,0.0
23392,405a2b,1,0.0,0,0.0,0.0,0.0
23393,a40e01,1,1158549.0,2022-03-19 16:03:07,4.0,0.0,3240.0

In [8]:
df = df.groupby('user_id', as_index=False).agg(revenue=('price', 'sum'), pilot=('pilot', 'min'))

In [9]:
stat, p_val = sc.ttest_ind(df[df['pilot'] == 0].revenue, df[df['pilot'] == 1].revenue)

In [10]:
round(p_val, 3)

0.199