In [1]:
import pandas as pd

### Задача 1. Популярные товары

Определите топ-3 товара по суммарной выручке.

In [2]:
df_sales_detail = pd.read_csv('2022-04-01T12_df_sales_detail.csv')

In [3]:
top_3 = df_sales_detail.groupby('good').agg({'price':'sum'}).sort_values('price', ascending=False).reset_index().head(3)

In [4]:
top_3

                     good     price
0             chefs pizza  24558240
1  double pepperoni pizza  22558380
2       chicken bbq pizza  17622540

### Задача 2. Время от захода на сайт до покупки

Оцените средний срок, который проходит от захода пользователя на сайт до совершения покупки. Будем считать, что заход на сайт относится к покупке, если он был совершён не ранее, чем за два часа до совершения покупки. Другими словами, для каждой покупки нужно посчитать время, которое проходит от покупки до первого захода на сайт того же пользователя в течение двух часов перед покупкой. И от полученных значений времени посчитать среднее.

In [5]:
df_sales = pd.read_csv('2022-04-01T12_df_sales.csv')

In [6]:
df_web_logs = pd.read_csv('2022-04-01T12_df_web_logs.csv')

In [7]:
df_merged = df_web_logs.merge(df_sales, on='user_id', how='inner', suffixes=('_left', '_right'))

In [8]:
df_merged[['date_right', 'date_left']] = df_merged[['date_right', 'date_left']].apply(pd.to_datetime)

In [9]:
df_delta = df_merged.groupby('user_id').agg(lend_date=('date_left', 'min'),
                                buy_date=('date_right', 'min'))

In [10]:
df_delta['deliver_delta'] = df_delta['buy_date'] - df_delta['lend_date']
round(df_delta.query('(buy_date - lend_date) <= "2 hours"').deliver_delta.mean().seconds / 60)

17

### Задача 3. Удержание клиентов

Интересно, как много пользователей возвращается к нам из месяца в месяц. Какая доля пользователей, совершивших покупку в феврале, совершила покупку и в марте?

Ответ округлите с точностью до 2-го знака после точки.

In [14]:
df_sales['date'] = df_sales.date.apply(pd.to_datetime)

In [16]:
df_sales.query()

        sale_id                date  count_pizza  count_drink  price user_id
0       1000001 2022-02-04 10:00:24            1            0    720  1c1543
1       1000002 2022-02-04 10:02:28            1            1    930  a9a6e8
2       1000003 2022-02-04 10:02:35            3            1   1980  23420a
3       1000004 2022-02-04 10:03:06            1            1    750  3e8ed5
4       1000005 2022-02-04 10:03:23            1            1    870  cbc468
...         ...                 ...          ...          ...    ...     ...
203842  1203843 2022-04-01 11:59:15            2            1   1410  7d3869
203843  1203844 2022-04-01 11:59:20            1            0    780  b7feae
203844  1203845 2022-04-01 11:59:43            1            0    600  7cdcc7
203845  1203846 2022-04-01 11:59:45            1            1    630  47b825
203846  1203847 2022-04-01 11:59:51            1            0    780  cdaabb

[203847 rows x 6 columns]